# 3) Baseline Search & Metrics

In this notebook we create a query set and run a `best_match` query with a reasonable set of search fields and weights.

In addition to the ESCI product data we are making use of the judgements that we map to numeric values.

For each query we calculate search metrics and an average over all queries.

This gives us a baseline that we can use as our foundation when exploring different hybrid search configurations in the next notebook.

In [62]:
import pandas as pd
import numpy as np
import mercury as mr
import requests
import json
import pytrec_eval
from opensearchpy import OpenSearch

In [63]:
DATA_DIR = '/Users/danielwrigley/work/Testing/git_repos/esci-data/shopping_queries_dataset/'

In [64]:
df_examples = pd.read_parquet(DATA_DIR + '/shopping_queries_dataset_examples.parquet')

## Query set
A query set has the columns:

* `query_set_id`
* `query`

There is currently no date corresponding to the query set. And currently the sampling is not done based on frequency.

In [65]:
# We only use English queries for now
df_queries_us = df_examples[df_examples['product_locale'] == 'us']

In [66]:
np.random.seed(10)

In [67]:
# Sample query sets

query_sets = [("sampled_queries", 200), ("top_queries", 20)]

res = []

for query_set_id, n_query_set in query_sets:
    # todo: sampling proportional to frequency
    query_set = np.random.choice(df_queries_us["query"].unique(), n_query_set, replace=False)

    df = pd.DataFrame({"query": query_set})
    df["query_set_id"] = query_set_id
    res.append(df)
df_query_set = pd.concat(res)
df_query_set.head(10)

                                 query     query_set_id
0                                runtz  sampled_queries
1                 trooper bandana shoe  sampled_queries
2     tcl a1x phone case straight talk  sampled_queries
3     bose headphones replacement cord  sampled_queries
4                 uniball vision elite  sampled_queries
5  definitely not paid enough for this  sampled_queries
6               raid deep reach fogger  sampled_queries
7                           usb camera  sampled_queries
8                reusable produce bags  sampled_queries
9                     latex dental dam  sampled_queries

## Judgments
The judgments dataset has a row per query instance and document and has the following columns:

* datetime: date of query/document instance
* query_id: identifier of query instance
* query: the query
* document: identifier of a document result
* judgment: Here we use the proposed ESCI mapping for DCG: `{"E": 0, "S": 1, "C": 2, "I": 3}` --> this looks odd. These look more like labels since `E` means "Exact Match" and would be the lowest score according to that wording

In [68]:
# Select judgments
# Map esci_label to score
# create judgments per day in range
# create noise in score

label_num = {"E": 0, "S": 1, "C": 2, "I": 3}
label_score = [3, 2, 1, 0]
label_p_noise = 0.1

def label_to_score(label):
    return label_score[label_num[label]]

df_judge = df_examples[df_examples["query"].isin(set(df_query_set["query"].values))].copy()
df_judge["judgment"] = df_judge.esci_label.apply(lambda x: label_to_score(x))
df_judge["document"] = df_judge.product_id
df_judge = df_judge[["query", "document", "judgment"]].reset_index(drop=True)
df_judge.head(20)

                               query    document  judgment
0   $30 roblox gift card not digital  B07RX6FBFR         3
1   $30 roblox gift card not digital  B09194H44R         0
2   $30 roblox gift card not digital  B08R5N6W6B         2
3   $30 roblox gift card not digital  B07Y693ND1         0
4   $30 roblox gift card not digital  B07RZ75JW3         2
5   $30 roblox gift card not digital  B07RZ74VLR         2
6   $30 roblox gift card not digital  B07M9XQ9YB         0
7   $30 roblox gift card not digital  B078RJ1KZ6         0
8   $30 roblox gift card not digital  B01N6RK9UE         0
9   $30 roblox gift card not digital  B016Y2BVKA         3
10  $30 roblox gift card not digital  B00WEVLE30         0
11  $30 roblox gift card not digital  B00F4CEWOY         0
12  $30 roblox gift card not digital  B00F4CEHNK         2
13  $30 roblox gift card not digital  B004RMK4P8         0
14  $30 roblox gift card not digital  B07BC8ZH7K         0
15       (fiction without frontiers)  B08C5KY8V8         0
16       (fiction without frontiers)  B08NLC5VJC         2
17       (fiction without frontiers)  B08NKCZM5Y         3
18       (fiction without frontiers)  B08LDTWY9L         0
19       (fiction without frontiers)  B08CVS88GV         2

# Transform the judgments to the qrels format that `trec_eval` can work with

### Group by queries and export to a file with the index to have queries and query ids

In [69]:
df_queries = df_judge.groupby(by='query', as_index=False).agg({
    'judgment': ['count']
})
df_query_idx = df_queries['query']
name = 'queries.txt'

df_query_idx.to_csv(name, sep="\t", header=False)

### Go through the queries and update the original ratings with the query ids

In [70]:
df_query_idx = pd.DataFrame(df_query_idx)

In [71]:
df_query_idx = df_query_idx.reset_index().rename(columns={'index': 'idx'})

df_merged = pd.merge(df_judge, df_query_idx, on='query', how='left')
df_ratings = df_merged[['idx', 'document', 'judgment']]
df_ratings.columns = ['idx', 'docid', 'rating']

In [72]:
name = 'ratings.qrels'

df_ratings.to_csv(name, sep="\t", header=False, index=False)
df_ratings

      idx       docid  rating
0       0  B07RX6FBFR       3
1       0  B09194H44R       0
2       0  B08R5N6W6B       2
3       0  B07Y693ND1       0
4       0  B07RZ75JW3       2
...   ...         ...     ...
4060  219  B00JX10Q2O       2
4061  219  B00KY41UHO       3
4062  219  B00QXJOUL2       3
4063  219  B00UY14WCM       3
4064  219  B0080E58AK       2

[4065 rows x 3 columns]

## Query OpenSearch with the Baseline Configuration

We use a simple `multi_match` query with a couple of fields and field weights.

This will serve as our baseline. We get the first 10 results for each query we have in `df_judge` and store the results in a format that `trec_eval`can work with later when evaluating the results.

This gives us a quantification of the quality of the baseline configuration.

We will use this to compare our hybrid search configurations against.

In [73]:
url = "http://localhost:9200/ecommerce/_search"

headers = {
    'Content-Type': 'application/json'
}

df_relevance = pd.DataFrame()

for query in df_query_idx.itertuples():

    payload = {
      "_source": {
        "excludes": [
          "title_embedding"
        ]
      },
      "query": {
        "multi_match" : {
          "type":       "best_fields",
          "fields":     [
              "product_id^100",
            "product_bullet_point^3",
            "product_color^2",
            "product_brand^5",
            "product_description",
            "product_title^10"
          ],
          "operator":   "and",
          "query":      query[2]
        }
      }
    }

    response = requests.request("POST", url, headers=headers, data=json.dumps(payload)).json()
    
    position = 0
    for hit in response['hits']['hits']:
        # create a new row for the DataFrame and append it
        row = { 'query_id' : str(query[1]), 'query_string': query[2], 'product_id' : hit["_id"], 'position' : str(position), 'relevance' : hit["_score"], 'run': 'default' }
    
        new_row_df = pd.DataFrame([row])
        df_relevance = pd.concat([df_relevance, new_row_df], ignore_index=True)
        position += 1
    
# work with two for loops:
# 1) one to iterate over the list of queries and have a query id instead of a query
# 2) another one to iterate over the result sets to have the position of the result in the result set 

# DataFrame with columns:
# query_id: the id of the query as the trec_eval tool needs a numeric id rather than a query string as an identifier
# product_id: the id of the product in the hit list
# position: the position of the product in the result set
# relevance: relevance as given by the search engine
# run: the name of the query run

## Transform data to meet the `pytrec_eval` requirements

### Convert string ids to integer values

In [74]:
df_relevance

,query_id,query_string,product_id,position,relevance,run
0,1,(fiction without frontiers),1787581780,0,309.121900,default
1,1,(fiction without frontiers),B082VGLV18,1,309.121900,default
2,1,(fiction without frontiers),B07GJVWWWR,2,309.121900,default
3,1,(fiction without frontiers),B08C5MQFCY,3,309.121900,default
4,1,(fiction without frontiers),1787583325,4,298.643860,default
...,...,...,...,...,...,...
1614,219,yarn purple and pink,B079J4V4G8,5,49.612446,default
1615,219,yarn purple and pink,B07HG28KLX,6,49.244354,default
1616,219,yarn purple and pink,B08B9K99R9,7,44.207966,default
1617,219,yarn purple and pink,B01ILAACNU,8,43.978270,default
1618,219,yarn purple and pink,B00MNNJHR4,9,43.978270,default

In [75]:
name = 'baseline_results'
df_relevance.to_csv(name, sep="\t", header=False, index=False)

## Transform data to meet the `pytrec_eval` requirements

### Convert string ids to integer values

In [76]:
unique_ids = pd.Series(pd.concat([df_relevance['product_id'], df_ratings['docid']]).unique())

# Create a mapping of each unique identifier to an integer
id_to_int = {id_val: idx for idx, id_val in enumerate(unique_ids, start=1)}

# Map the identifiers in both DataFrames
df_relevance['product_id_int'] = df_relevance['product_id'].map(id_to_int)
df_ratings['docid_int'] = df_ratings['docid'].map(id_to_int)

In [77]:
df_relevance.head(3)

,query_id,query_string,product_id,position,relevance,run,product_id_int
0,1,(fiction without frontiers),1787581780,0,309.1219,default,1
1,1,(fiction without frontiers),B082VGLV18,1,309.1219,default,2
2,1,(fiction without frontiers),B07GJVWWWR,2,309.1219,default,3

In [78]:
df_ratings

      idx       docid  rating  docid_int
0       0  B07RX6FBFR       3       1613
1       0  B09194H44R       0       1614
2       0  B08R5N6W6B       2       1615
3       0  B07Y693ND1       0       1616
4       0  B07RZ75JW3       2       1617
...   ...         ...     ...        ...
4060  219  B00JX10Q2O       2       5022
4061  219  B00KY41UHO       3       5023
4062  219  B00QXJOUL2       3       5024
4063  219  B00UY14WCM       3       5025
4064  219  B0080E58AK       2       5026

[4065 rows x 4 columns]

In [79]:
# Drop the docid column as it is not needed
df_pytrec_qrels = df_ratings.drop(columns=['docid'])

df_pytrec_qrels['docid_int'] = df_pytrec_qrels['docid_int'].astype(str)

# Initialize an empty dictionary to store the final qrel structure
qrel = {}

# Group by 'idx'
for idx, group in df_pytrec_qrels.groupby('idx'):
    # Create a dictionary for each group where 'docid' is the key and 'rating' is the value
    qrel[str(idx)] = dict(zip(group['docid_int'], group['rating']))

In [80]:
df_pytrec_results = df_relevance.drop(columns=['position', 'run', 'product_id'])

df_pytrec_results['relevance'] = df_pytrec_results['relevance'].astype(int)
df_pytrec_results['product_id_int'] = df_pytrec_results['product_id_int'].astype(str)

# Initialize an empty dictionary to store the final 'run' structure
run = {}

# Group by 'query_id' 
for query_id, group in df_pytrec_results.groupby('query_id'):
    # Create a dictionary for each group where 'product_id' is the key and 'relevance' is the value
    run[query_id] = dict(zip(group['product_id_int'], group['relevance']))

In [81]:
evaluator = pytrec_eval.RelevanceEvaluator(
    qrel, {'map', 'ndcg'})

data = evaluator.evaluate(run)

print(json.dumps(data, indent=1))

{
 "1": {
  "map": 0.14285714285714285,
  "ndcg": 0.2998871210371002
 },
 "10": {
  "map": 0.7219907407407408,
  "ndcg": 0.8479117780988195
 },
 "100": {
  "map": 0.4,
  "ndcg": 0.5577409001984587
 },
 "101": {
  "map": 0.625,
  "ndcg": 0.7441140557478908
 },
 "102": {
  "map": 0.18181818181818182,
  "ndcg": 0.2275100331754748
 },
 "103": {
  "map": 0.3279761904761905,
  "ndcg": 0.5427847748201621
 },
 "104": {
  "map": 0.022222222222222223,
  "ndcg": 0.11033110561045088
 },
 "105": {
  "map": 0.1,
  "ndcg": 0.29740901205864334
 },
 "106": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "107": {
  "map": 0.0125,
  "ndcg": 0.06812988141911934
 },
 "109": {
  "map": 0.06212797619047619,
  "ndcg": 0.18379934077708113
 },
 "112": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "113": {
  "map": 0.5414930555555556,
  "ndcg": 0.6627929946637657
 },
 "114": {
  "map": 0.04513888888888889,
  "ndcg": 0.15263019522688698
 },
 "115": {
  "map": 0.046875,
  "ndcg": 0.15499424445272175
 },
 "116": {
  "map": 0.2581845238095238,
  "ndcg": 0.4505646069195945
 },
 "117": {
  "map": 0.16221804511278196,
  "ndcg": 0.33246245848126427
 },
 "118": {
  "map": 0.08303571428571428,
  "ndcg": 0.221276812508068
 },
 "119": {
  "map": 0.359375,
  "ndcg": 0.5417797283560958
 },
 "12": {
  "map": 0.026000000000000002,
  "ndcg": 0.10053528465107685
 },
 "120": {
  "map": 0.5625,
  "ndcg": 0.7709308803434018
 },
 "121": {
  "map": 0.13107769423558896,
  "ndcg": 0.31553163776825305
 },
 "122": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "123": {
  "map": 0.13333333333333333,
  "ndcg": 0.2864951768909801
 },
 "124": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "126": {
  "map": 0.7142857142857143,
  "ndcg": 0.7964493542115841
 },
 "127": {
  "map": 0.5545634920634921,
  "ndcg": 0.6987913028785705
 },
 "128": {
  "map": 0.28422619047619047,
  "ndcg": 0.50132930065788
 },
 "129": {
  "map": 0.4113839285714285,
  "ndcg": 0.6167564210648947
 },
 "13": {
  "map": 0.125,
  "ndcg": 0.2872282393607395
 },
 "130": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "131": {
  "map": 0.7142857142857143,
  "ndcg": 0.8097090645058168
 },
 "133": {
  "map": 0.1875,
  "ndcg": 0.3489895615869866
 },
 "135": {
  "map": 0.040625,
  "ndcg": 0.1357019458933222
 },
 "137": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "139": {
  "map": 0.10416666666666666,
  "ndcg": 0.24566006528517206
 },
 "14": {
  "map": 0.3927083333333333,
  "ndcg": 0.5768660406165649
 },
 "141": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "142": {
  "map": 0.03869047619047619,
  "ndcg": 0.13647781404731782
 },
 "143": {
  "map": 1.0,
  "ndcg": 1.0
 },
 "144": {
  "map": 0.125,
  "ndcg": 0.28235186733222345
 },
 "145": {
  "map": 0.09687499999999999,
  "ndcg": 0.26095391217253483
 },
 "146": {
  "map": 0.24352678571428574,
  "ndcg": 0.49333946297245546
 },
 "147": {
  "map": 0.1227106227106227,
  "ndcg": 0.2810262940247989
 },
 "148": {
  "map": 0.022817460317460316,
  "ndcg": 0.10389182454399959
 },
 "149": {
  "map": 0.007977207977207978,
  "ndcg": 0.05573925610724412
 },
 "15": {
  "map": 0.4375,
  "ndcg": 0.5958074859353115
 },
 "150": {
  "map": 0.75,
  "ndcg": 0.8660404648351514
 },
 "151": {
  "map": 0.020833333333333332,
  "ndcg": 0.08188668842839068
 },
 "152": {
  "map": 0.07692307692307693,
  "ndcg": 0.18983112161061202
 },
 "153": {
  "map": 0.16666666666666666,
  "ndcg": 0.3545201366237413
 },
 "155": {
  "map": 0.08333333333333333,
  "ndcg": 0.22316354947562228
 },
 "156": {
  "map": 0.02638888888888889,
  "ndcg": 0.115783451402208
 },
 "157": {
  "map": 0.23809523809523808,
  "ndcg": 0.3417784740979038
 },
 "158": {
  "map": 0.043534080298786186,
  "ndcg": 0.11143867319436318
 },
 "159": {
  "map": 0.171875,
  "ndcg": 0.3376362274073312
 },
 "16": {
  "map": 0.06666666666666667,
  "ndcg": 0.18695282560131407
 },
 "160": {
  "map": 0.07692307692307693,
  "ndcg": 0.18672776492534793
 },
 "162": {
  "map": 0.36718020541549956,
  "ndcg": 0.5533468478214022
 },
 "163": {
  "map": 0.21388888888888888,
  "ndcg": 0.42174901829456307
 },
 "165": {
  "map": 0.225,
  "ndcg": 0.45725111887114517
 },
 "166": {
  "map": 0.7272727272727273,
  "ndcg": 0.8329401330937696
 },
 "167": {
  "map": 0.13333333333333333,
  "ndcg": 0.23150093522391932
 },
 "168": {
  "map": 0.013333333333333334,
  "ndcg": 0.0679560006779754
 },
 "169": {
  "map": 0.2214781746031746,
  "ndcg": 0.414161984877395
 },
 "170": {
  "map": 0.0125,
  "ndcg": 0.06335619058732639
 },
 "171": {
  "map": 0.18234126984126983,
  "ndcg": 0.37026121348968555
 },
 "172": {
  "map": 0.046875,
  "ndcg": 0.15709233010130144
 },
 "173": {
  "map": 0.3333333333333333,
  "ndcg": 0.5112374240777433
 },
 "174": {
  "map": 0.6916666666666667,
  "ndcg": 0.8485833840018001
 },
 "175": {
  "map": 0.2975396825396825,
  "ndcg": 0.5136870217341107
 },
 "176": {
  "map": 0.010416666666666666,
  "ndcg": 0.023108049517414374
 },
 "177": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "178": {
  "map": 0.07291666666666666,
  "ndcg": 0.18521618473020518
 },
 "179": {
  "map": 0.09375,
  "ndcg": 0.31005218229785075
 },
 "18": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "181": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "182": {
  "map": 0.15625,
  "ndcg": 0.329845460052848
 },
 "184": {
  "map": 0.41875,
  "ndcg": 0.5885574830529839
 },
 "185": {
  "map": 0.00625,
  "ndcg": 0.047341122736599496
 },
 "186": {
  "map": 0.46153846153846156,
  "ndcg": 0.6382423734451217
 },
 "187": {
  "map": 0.5625,
  "ndcg": 0.6967729330112913
 },
 "188": {
  "map": 0.008333333333333333,
  "ndcg": 0.05241070134984915
 },
 "189": {
  "map": 0.08333333333333333,
  "ndcg": 0.19635793579928928
 },
 "19": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "190": {
  "map": 1.0,
  "ndcg": 1.0
 },
 "191": {
  "map": 0.08333333333333333,
  "ndcg": 0.22841584483357094
 },
 "192": {
  "map": 0.5625,
  "ndcg": 0.7062048270550453
 },
 "193": {
  "map": 0.2375,
  "ndcg": 0.4996535894108739
 },
 "194": {
  "map": 0.3955433455433455,
  "ndcg": 0.5192200881681286
 },
 "195": {
  "map": 0.08888888888888888,
  "ndcg": 0.2595419687221729
 },
 "196": {
  "map": 0.5221478174603175,
  "ndcg": 0.6807578651605645
 },
 "197": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "198": {
  "map": 0.625,
  "ndcg": 0.7446286347563077
 },
 "199": {
  "map": 0.1875,
  "ndcg": 0.421675256782547
 },
 "2": {
  "map": 0.0071428571428571435,
  "ndcg": 0.05151432889569589
 },
 "200": {
  "map": 0.21428571428571427,
  "ndcg": 0.41216419861137765
 },
 "201": {
  "map": 0.19270833333333331,
  "ndcg": 0.3989232905976098
 },
 "202": {
  "map": 0.125,
  "ndcg": 0.2671028731585959
 },
 "203": {
  "map": 0.0125,
  "ndcg": 0.023003978291334156
 },
 "204": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "205": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "206": {
  "map": 0.03645833333333333,
  "ndcg": 0.13355143657929794
 },
 "207": {
  "map": 0.0625,
  "ndcg": 0.16377337685678137
 },
 "208": {
  "map": 0.5166666666666667,
  "ndcg": 0.7238630500234263
 },
 "209": {
  "map": 0.2901041666666666,
  "ndcg": 0.49497935218817407
 },
 "21": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "210": {
  "map": 0.4350694444444444,
  "ndcg": 0.6468688994519608
 },
 "211": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "212": {
  "map": 0.09768518518518517,
  "ndcg": 0.2581241261367713
 },
 "213": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "214": {
  "map": 0.0078125,
  "ndcg": 0.05387224790327338
 },
 "215": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "216": {
  "map": 0.625,
  "ndcg": 0.7441140557478908
 },
 "217": {
  "map": 0.0625,
  "ndcg": 0.16377337685678137
 },
 "218": {
  "map": 0.5,
  "ndcg": 0.7336872799835373
 },
 "219": {
  "map": 0.046875,
  "ndcg": 0.16538302923203668
 },
 "22": {
  "map": 0.6,
  "ndcg": 0.7363246302881674
 },
 "23": {
  "map": 0.3644345238095238,
  "ndcg": 0.5609238119867566
 },
 "24": {
  "map": 0.2727272727272727,
  "ndcg": 0.5225987570460974
 },
 "25": {
  "map": 0.0625,
  "ndcg": 0.17077098551248446
 },
 "26": {
  "map": 0.3125,
  "ndcg": 0.5192625370211814
 },
 "27": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "28": {
  "map": 0.0625,
  "ndcg": 0.17077098551248446
 },
 "29": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "30": {
  "map": 0.049107142857142856,
  "ndcg": 0.1623033862616478
 },
 "31": {
  "map": 0.46589781746031744,
  "ndcg": 0.6040940844078108
 },
 "32": {
  "map": 0.0078125,
  "ndcg": 0.05236411003376715
 },
 "33": {
  "map": 0.2533333333333333,
  "ndcg": 0.4511288780051377
 },
 "34": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "35": {
  "map": 0.6846153846153846,
  "ndcg": 0.7921980217411078
 },
 "37": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "38": {
  "map": 0.03333333333333333,
  "ndcg": 0.1330412388206974
 },
 "39": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "41": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "43": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "44": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "45": {
  "map": 0.46468253968253964,
  "ndcg": 0.6341120537036474
 },
 "46": {
  "map": 0.0625,
  "ndcg": 0.17336293005338985
 },
 "47": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "49": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "5": {
  "map": 0.2,
  "ndcg": 0.33916020527361607
 },
 "50": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "51": {
  "map": 0.08333333333333333,
  "ndcg": 0.22211063075011753
 },
 "52": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "53": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "54": {
  "map": 0.05625,
  "ndcg": 0.1689420342052661
 },
 "55": {
  "map": 0.4,
  "ndcg": 0.5531464700081437
 },
 "56": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "58": {
  "map": 0.5221478174603175,
  "ndcg": 0.6996509093996796
 },
 "6": {
  "map": 0.125,
  "ndcg": 0.2785154813190312
 },
 "60": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "62": {
  "map": 0.07692307692307693,
  "ndcg": 0.2260332047057321
 },
 "63": {
  "map": 0.625,
  "ndcg": 0.7541867847500784
 },
 "64": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "65": {
  "map": 0.4763144841269841,
  "ndcg": 0.5974393021897086
 },
 "66": {
  "map": 0.3094246031746032,
  "ndcg": 0.422806046116723
 },
 "67": {
  "map": 0.15625,
  "ndcg": 0.32584482791080654
 },
 "69": {
  "map": 0.06994047619047619,
  "ndcg": 0.2072213208458141
 },
 "7": {
  "map": 0.3333333333333333,
  "ndcg": 0.4692787260227565
 },
 "70": {
  "map": 0.19821428571428573,
  "ndcg": 0.38505018936484936
 },
 "71": {
  "map": 0.15208333333333332,
  "ndcg": 0.34777659828806284
 },
 "72": {
  "map": 0.0625,
  "ndcg": 0.21671717520512082
 },
 "73": {
  "map": 0.12390350877192984,
  "ndcg": 0.2722045921042364
 },
 "75": {
  "map": 0.02142857142857143,
  "ndcg": 0.10193224835552661
 },
 "76": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "77": {
  "map": 0.1421875,
  "ndcg": 0.31729679587285686
 },
 "78": {
  "map": 0.014583333333333332,
  "ndcg": 0.0748376140119267
 },
 "79": {
  "map": 0.26999999999999996,
  "ndcg": 0.4885904656735913
 },
 "80": {
  "map": 0.20885912698412698,
  "ndcg": 0.3857513496555275
 },
 "81": {
  "map": 0.4533978174603174,
  "ndcg": 0.626239578762556
 },
 "83": {
  "map": 0.02142857142857143,
  "ndcg": 0.10193224835552661
 },
 "84": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "85": {
  "map": 0.05208333333333333,
  "ndcg": 0.12261588772572432
 },
 "86": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "87": {
  "map": 0.0763888888888889,
  "ndcg": 0.21595836133749363
 },
 "88": {
  "map": 0.0,
  "ndcg": 0.0
 },
 "89": {
  "map": 0.00625,
  "ndcg": 0.047341122736599496
 },
 "9": {
  "map": 0.47140211640211643,
  "ndcg": 0.6045638885951026
 },
 "90": {
  "map": 0.07142857142857142,
  "ndcg": 0.17821029819465134
 },
 "91": {
  "map": 0.14285714285714285,
  "ndcg": 0.33679818531377276
 },
 "93": {
  "map": 0.0625,
  "ndcg": 0.16377337685678137
 },
 "94": {
  "map": 0.17346938775510204,
  "ndcg": 0.37321550407495013
 },
 "95": {
  "map": 0.006944444444444444,
  "ndcg": 0.04930069892507245
 },
 "96": {
  "map": 0.0125,
  "ndcg": 0.0642138141377318
 },
 "98": {
  "map": 0.0,
  "ndcg": 0.0
 }
}

In [82]:
ndcg_sum = 0
map_sum = 0
num_queries = len(data)

# Iterate over the dictionary and sum the 'ndcg' and 'map' values
for query, metrics in data.items():
    ndcg_sum += metrics['ndcg']
    map_sum += metrics['map']

# Calculate the averages
average_ndcg = ndcg_sum / num_queries
average_map = map_sum / num_queries

# Print the results
print("Baseline metrics")
print(f"Average NDCG: {average_ndcg}")
print(f"Average MAP: {average_map}")

Baseline metrics
Average NDCG: 0.29311923637469645
Average MAP: 0.18515902813023388